<div class="col-lg-4">
    <section class="bar mb-0">
      <h3 class="text-uppercase">Address</h3>
      <p class="text-sm">13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p>
      <h3 class="text-uppercase">Call center</h3>
      <p class="text-muted text-sm">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
      <p><strong>+33 555 444 333</strong></p>
      <h3 class="text-uppercase">Electronic support</h3>
      <p class="text-muted text-sm">Please feel free to write an email to us or to use our electronic ticketing system.</p>
      <ul class="text-sm">
        <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
        <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
      </ul>
    </section>
  </div>