<section class="bar background-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
          <h3 class="h4">EASY INVEST</h3>
          <p>Investing without economic knowledge</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-print"></i></div>
          <h3 class="h4">HIGHEST SECURITY</h3>
          <p>The highest standard of banking security</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-globe"></i></div>
          <h3 class="h4">24 / 7 SUPPORT</h3>
          <p>Less support time in 30 minutes with 100 operators</p>
        </div>
      </div>
    
   
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-lightbulb-o"></i></div>
          <h3 class="h4">EARN PROFIT</h3>
          <p>Highest interest rate an And a lifelong contract</p>
        </div>
      </div>
      
    </div>
  </div>
</section>