<section class="bar bg-gray no-mb padding-big text-md-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">EXECUTION & PROFIT</h2>
        <p class="lead mb-small">Our model, technology, and team of in-house experts make us the most trusted platform in the crowdfunding industry. We leverage all the tools in our power to amplify campaigns, so you can raise maximum awareness</p>
        <p class="mb-small">VIP Crowdfunding is an award-winning website that helps people give and volunteer with the top-performing projects all over the world. 
          All projects are vetted through VIP Crowdfunding trademarked, proprietary Quality Model.™ 100% of each donation goes directly to the cause. Find Gift Packages and Volunteering Opportunities, or read more here about our features.</p>
        
      </div>
      <div class="col-md-6 text-center"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
    </div>
    
  </div>
</section>