<section class="bar bg-gray no-mb padding-big text-md-center">
  <div class="container">
    <div class="row">
        <div class="col-md-4"></div> <div class="heading text-center col-xs-12">
            <h2>WHAT IS CROWD FUNDING ?</h2>
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 "><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
      <div class="col-md-6">
        <h2 class="text-uppercase">CROWD FUNDING</h2>
        <p class="lead mb-small">Crowdfunding is a method of raising capital through the collective effort of friends, family, customers, and individual investors. This approach taps into the collective efforts of a large pool of individuals—primarily online via social media and crowdfunding platforms—and leverages their networks for greater reach and exposure.</p>
        <p class="mb-small">Crowdfunding is essentially the opposite of the mainstream approach to business finance. Traditionally, if you want to raise capital to start a business or launch a new product, you would need to pack up your business plan, market research, and prototypes, and then shop your idea around to a limited pool or wealthy individuals or institutions. </p>
        
      </div>
      
    </div>
    
  </div>
</section>