<section class="bg-white bar">
  <div class="container">
    <div class="heading text-center">
      <h2>TYPES OF CROWDFUNDING</h2>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="home-blog-post">
          <div class="image"><img src="assets/img/portfolio-4.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">DONATION-BASED </a></h4>
            <p class="intro">Broadly speaking, you can think of any crowdfunding campaign in which there is no financial return to the investors or contributors as donation-based crowdfunding. Common donation-based crowdfunding initiatives include fundraising for disaster relief, charities, nonprofits, and medical bills</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="home-blog-post">
          <div class="image"><img src="assets/img/portfolio-3.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">REWARDS-BASED</a></h4>
            
            <p class="intro">Rewards-based crowdfunding involves individuals contributing to your business in exchange for a “reward,” typically a form of the product or service your company offers. Even though this method offers backers a reward, it’s still generally considered a subset of donation-based crowdfunding since there is no financial or equity return.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="home-blog-post">
          <div class="image"><img src="assets/img/portfolio-5.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">Equity Based</a></h4>
            <p class="intro">Unlike the donation-based and rewards-based methods, equity-based crowdfunding allows contributors to become part-owners of your company by trading capital for equity shares. As equity owners, your contributors receive a financial return on their investment and ultimately receive a share of the profits in the form of a dividend or distribution.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>